<!--=== Top ===-->
<div id="top">
  <div class="container"> 
    <!--=== Skip links ===-->
    <div id="skip"> <a href="#content" onClick="$('#content').focus()">Skip to content</a> </div>
    <!-- /Skip links --> 
  </div>
</div>
<!--/top--> 

<!--=== Header ===-->
<div id="header" class="clearfix" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> 
        <!-- Logo -->
        <div id="logo" class="clearfix"> <a href="http://www.stanford.edu"><img class="img-responsive" src="/assets/cardinal/images/stanford-white@2x.png"  alt="Stanford University" /></a> </div>
        <!-- /logo --> 
        <div id="name-and-slogan" class="with-logo">
            <div id="site-name" class="site-name">
                <a rel="home" title="Home" href="/">Cardinal Theme</a>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Menu -->
<div id="mainmenu" class="clearfix" role="navigation">
  <div class="container">
    <div class="navbar navbar-default"> 
      
      <!-- main navigation -->
      <button type="button" class="navbar-toggle btn-navbar" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="menu-text">Menu</span></button>
      <!-- /nav-collapse -->
      
      <div class="navbar-collapse collapse"> 
        <!--search box-->
        <div id="nav-search" role="search">
          <form action="http://www.stanford.edu/hpcgi/page-route.cgi" method="post" id="search-form" accept-charset="UTF-8">
            <h2 class="hidden">Search form</h2>
            <label class="hidden" for="search-field">Search term</label>
            <input title="Search string" class="input-medium" placeholder="Search this site&hellip;" type="text" id="search-field" name="search_string" value="" size="15" maxlength="128" />
            <button id="search-btn" type="submit" name="submit"  aria-label="Search" formmethod="post"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div  role="navigation">
          <div id="primary-nav">
            <ul class="nav navbar-nav" aria-label="primary navigation">
              <li id="nav-home"> <a href="/">Home</a></li>
              <li id="nav-1"> <a href="right-sidebar">Right Sidebar</a> </li>
              <li id="nav-2"> <a href="left-sidebar">Left Sidebar</a> </li>
              <li id="nav-3"> <a href="two-sidebars">Two Sidebars</a> </li>
              <li id="nav-4"> <a href="no-sidebars">No Sidebars</a> </li>
              <li id="nav-5"> <a href="wide">Wide</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /nav-collapse --> 
    </div>
    <!-- /navbar --> 
    
  </div>
  <!-- /container --> 
</div>
<!-- /mainmenu --> 
